doctype html
html
  head
    title=  "BRUCE FORCE CTF"
    //- link(rel='stylesheet', href='/dist/style.css')
    
    link(rel='stylesheet', href='/dist/intro.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  .content
    block content
      p This is the default!
