doctype html
html
  head
    title=  "BRUCE FORCE CTL"
    //- link(rel='stylesheet', href='/dist/style.css')
    
    link(rel='stylesheet', href='/dist/intro.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body
      // TODO: delete later, admin password: adminpassword, adtest232@gmail.com
      h1 BRUCE FORCE CTL
      p You are about to enter a very buggy site
      p You would have 60 mins to explore all the bugs. We would provide with what challenges we are expecting you to solve, and your goal is to exploit the vulnerability and get the 'flag string' for each challenge.
      a(href="/")
        button(type="button").buttonClass GET STARTED
  
