extends CTF_layout

block content
  .inner
      h1 BRUCE FORCE CTL
      p You are about to enter a very buggy site
      p You would have 60 mins to explore all the bugs. We would provide with what challenges we are expecting you to solve, and your goal is to exploit the vulnerability and get the 'flag string' for each challenge.
      form(action="/" method="GET")
        input.buttonClass(type="submit" value="Start")
